$color-1: #11151C;
$color-2: #212D40;
$color-3: #364156;
$color-4: #7D4E57;
$color-5: #D66853;
$color-6: #5ccc82;

$link-color: $color-6;
$btn-color: $link-color;
$btn-secondary-color: #ffffff;
$btn-danger-color: $color-5;

$standard-transition: 0.4s ease;

$base-font-size: 16px;

$text-color: #333333;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Crimson Text', serif;