{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="content content-login container">
	<div class="row">
	<h1 class="page-title">Login</h1>
		<div class="col-md-6 col-md-offset-3">
			<form id="login-form" method="post">
				{% if error %}
					<p class="form-error-message">{{error}}</p>
				{% endif %}
				<input type="text" name="username" id="username" placeholder="Username" required>
				<input type="password" name="password" id="password" placeholder="Password" required>
				<button type="submit">Login</button>
			</form>
			<p class="text-center"><small><a href="/register">Register</a> if you do not have an account yet</small></p>
		</div>
	</div>
</div>
{% endblock %}